body {
    background-color: #000000; 

    color: #e4e3e3;
    font-family: 'monospace';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    object-fit: cover;
    position: fixed;
    
}

html {overflow: hidden;}

#content {
    display:none;
}

#start {
    display:block;
}

.bgvideo {
  position: absolute;
  top: 0;
  left: 0;
}


.bg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
    opacity: 50%;
    left: 100%;
    top: 100%;
    scale: 150%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.main, .startbtn {
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    font-family: 'monospace';
}

a {
	color: #e4e3e3;
	text-decoration: none;
    cursor: pointer;
}
a:hover {color: #ffffff;}

h1, h2, h3, h4, h5, h6, p {
    padding: 0; 
    margin: 0;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: center;
  display:inline-block;
}

.glow {
    font-size: 16px !important;
    font-family: monospace;
    font-style: normal;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
      



.sidenav {
  height: 100%; 
  width: 200px; 
  position: sticky;
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  padding-top: 20px;
  padding-bottom: 20px;
  display:inline-block;

}


.sidenav a {
  padding: 0px 4px 4px 18px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  font-family: monospace;
  text-shadow: 0 0 20px #ffffff9d, 0 0 20px #ffffff93, 0 0 20px #ffffff6c;
  text-align: center;
}


.sidenav a:hover {
  color: #ff02d5;
  text-shadow: 0 0 10px #ff02d5, 0 0 20px #ff02d5, 0 0 30px #ff02d5;
}

hr{
  height: 2px;
  border: 0px;
  background: linear-gradient(to right, #ffffff00, #fff , #ffffff00)
}



.textShineBlack {
  background: linear-gradient(to right, #ffffff20 20%, #ffffff 30%, #ffffff 70%, #ffffff20 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}