body {
    background-color: #000000; 

    color: #e4e3e3;
    font-family: 'monospace';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    object-fit: cover;
    position: fixed;
    
}

html {overflow: hidden;}

#content {
    display:none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
    position: fixed;


}

#start {
    display:block;
}

.bgvideo {
  position: absolute;
  top: 0;
  left: 0;
}


.bg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
    opacity: 50%;
    left: 50%;
    top: 50%;
    scale: 110%;
    transform: translate(-45%, -45%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main, .startbtn {
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    font-family: 'monospace';
}

a {
	color: #e4e3e3;
	text-decoration: none;
    cursor: pointer;
}
a:hover {color: #ffffff;}

h1, h2, h3, h4, h5, h6, p {
    padding: 0; 
    margin: 0;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 90%;
    text-align: center;
    display:inline-block;
}

.glow {
    font-size: 16px !important;
    font-family: monospace;
    font-style: normal;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
      


  .glow2 {
    font-size: 16px !important;
    font-family: monospace;
    font-style: normal;
    position: fixed;
    text-align: center;
    top: 15%;
    left: 20%;
    color: #000000;
    -webkit-animation: glow2 1s ease-in-out infinite alternate;
    -moz-animation: glow2 1s ease-in-out infinite alternate;
    animation: glow2 1s ease-in-out infinite alternate;

  }
  
  @-webkit-keyframes glow2 {
    from {
      text-shadow: 0 0 10px #ea3396, 0 0 20px #ea3396, 0 0 30px #ea3396;
    }
    to {
      text-shadow: 0 0 20px #f19e6f, 0 0 30px #f19e6f, 0 0 40px #f19e6f;
    }
    to {
      text-shadow: 0 0 20px #ffffa5, 0 0 30px #ffffa5, 0 0 40px #ffffa5;
    }
    to {
      text-shadow: 0 0 20px #75fba2, 0 0 30px #75fba2, 0 0 40px #75fba2;
    }
    to {
      text-shadow: 0 0 20px #4396f7, 0 0 30px #4396f7, 0 0 40px #4396f7;
    }
    to {
      text-shadow: 0 0 20px #8c1af5, 0 0 30px #8c1af5, 0 0 40px #8c1af5;
    }
  }