body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #181928; 
    color: #fff; 
}

.container {
    text-align: center;
}

.big-text {
    font-size: 72px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.small-text {
    font-size: 24px;
    color: #ababab;
    font-family: Arial, Helvetica, sans-serif;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    /* NO I DIDNT USE THE DEFAULT FONT CUZ IM LAZY. IT JUST LOOKS COOL */
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #eae2f9, 0 0 70px #1b00e6;
    }  /*this shit is making me wanna kms*/
    to {
      text-shadow: 0 0 20px #ffffff, 0 0 80px #7a4dff;
    }
  }

  #content {
    display:none;
}

#start {
    display:block;
}

.bg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
    opacity: 50%;
    left: 50%;
    top: 50%;
    scale: 110%;
    transform: translate(-45%, -45%);
}

.main, .startbtn {
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

a {
	color: #e4e3e3;
	text-decoration: none;
    cursor: pointer;
}
a:hover {color: #ffffff;}

h1, h2, h3, h4, h5, h6, p {
    padding: 0; 
    margin: 0;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 10%;
    text-align: center;
    display:inline-block;
}